<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aura.Properties.Settings>
            <setting name="IsOverlayVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DimOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="DimColorR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DimColorG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DimColorB" serializeAs="String">
                <value>0</value>
            </setting>
        </Aura.Properties.Settings>
    </userSettings>
</configuration>